body, html {
    margin: 0;
    padding: 1px;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.home {
    margin: 0;
    background-color: #0149ac;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
}

.custom-body {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #f8f8f8;
    border: 0.5px solid #ddd;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #161616;
    box-shadow: 0 0px 0.1px rgba(7, 3, 86, 0.1);
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    border-radius: 6px;
    padding: 20px;
    margin: 18px 4px;
    background-color: #ffffff;
    border: 0.4px solid #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #161616;
    box-shadow: 0 0px 0.1px rgba(7, 3, 86, 0.1);
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section .column {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 18px 0;
}

section .column h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

section .column p {
    line-height: 1.6;
    margin-bottom: 15px;
}

section h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    color: #3d3d3d;
    text-align: center;
    margin: 0.75rem 0;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin: 0.5rem 0;
    letter-spacing: 1px;
}

input[type="text"], input[type="email"], input[type="datetime-local"], input[type="password"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border-color: #5f6e7b;
    outline: none;
}

/* Estilos para botões */
input[type="submit"], input[type="button"], button {
    background-color: #0149ac;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    background-color: #0043a0;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 3px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para cabeçalhos de tabela */
thead {
    background-color: rgb(107, 97, 215);
    color: white;
}

thead th {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Estilos para o contêiner de navegação */
nav {
    background-color: #0149ac;
    overflow: hidden;
}

/* Estilos para a lista não ordenada dentro da navegação */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Estilos para os itens da lista */
nav ul li {
    display: inline;
}

/* Estilos para os links de navegação */
nav ul li a {
    background-color: #0149ac;
    display: block;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Efeito de hover nos links */
nav ul li a:hover {
    background-color: #0043a0;
    transform: scale(1,1);
}

/* Efeito de ativo no link */
nav ul li a.active {
    background-color: #0149ac;
    color: white;
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        text-align: center;
        width: 100%;
    }
    nav ul li a {
        padding: 14px;
        border-top: 1px solid #ddd;
    }
    nav ul li a:hover {
        background-color: #575757;
    }
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}

footer {
    background-color: #0149ac;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-content h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
}

footer .footer-content p {
    font-size: 1rem;
    margin: 10px 0 20px;
    font-family: 'Arial', sans-serif;
}


main {
    padding: 4px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero .column {
    flex: 1;
    margin: 0 10px;
}

.about-us, .features, .contact {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0px 0.1px rgba(7, 3, 86, 0.1);
}

.about-us h2, .features h2, .contact h2 {
    text-align: center;
    margin-bottom: 15px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin: 5px 0 5px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact form button {
    background-color: #0149ac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.contact form button:hover {
    background-color: #0043a0;
}
